<!DOCTYPE html>
<html>

<head>

<META http-equiv="Content-Type" content="text/html; charset=UTF-8">
	
<!--SCRIPTS HERE-->

<link href="css/reset.css" rel="stylesheet" type="text/css" />
<link href="css/main.css" rel="stylesheet" type="text/css" />
<link href="css/text.css" rel="stylesheet" type="text/css" />
<link href="css/ui-lightness/jquery-ui-1.8.12.custom.css" rel="stylesheet" type="text/css" />

<!--[if IE]>
<script type="text/javascript" src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
     
</head>
<body>


<div id="container">

<!--===================================================================================================-->
<!--=======================================  HEADER  ==================================================-->

	<div id="header">
		<h1 class="facility"></h1>
		
        <div class="grad_button">
        	<div class="grad_left"></div>
            <div class="grad_mid">
            	<a class="settings_btn" href="#">SETTINGS</a>
            </div>
            <div class="grad_right"></div>
        </div>
		
        <div class="grad_button">
        	<div class="grad_left"></div>
            <div class="grad_mid">
            	<a class="help_btn" href="#">HELP</a>
            </div>
            <div class="grad_right"></div>
        </div>
		
		<!--===================================================================================================-->
		<!--=======================================  SETTINGS =================================================-->

			<div id="settings">

		    	<h1 class="title">Settings</h1>

		        <div class="divider_horz_boxed"></div>

		        <div id="col_left">

		        	<div id="facility">
		            	<label for="facility">Name Of Facility Or Study</label>
		                <input class="blue" type="text" name="s_facility" id="s_facility" />
		            </div><!--FACILITY-->

		            <div id="language">
		            	<label for="language">Language</label>
		                <select name="s_language">
							<option value="en" selected="selected">English</option>
							<option value="de">German</option>
							<option value="es">Spanish</option>
							<option value="fr">French</option>
						</select>
		            </div><!--END LANGUAGE-->

		            <div id="sm_weight"><!--SM means "Settings Measurement"-->
		            	<label for="sm_weight">Measurement Units For Weight</label>
		          		<input id="sm_weight_k" name="s_weight_units" type="radio" value="kg" /> <h4 class="sm_weight_k">Kilograms</h4>
		                <input id="sm_weight_p" name="s_weight_units" type="radio" value="lb" /> <h4 class="sm_weight_p">Pounds</h4>							
		            </div><!--END SETTINGS MEASUREMENT WEIGHT-->

		            <div id="sm_units">
		            	<label for="sm_units">Linear Measurement Units</label>
		                <input id="sm_units_c" name="s_height_units" type="radio" value="cm" /> <h4 class="sm_units_c">Centimeters</h4>
		                <input id="sm_units_i" name="s_height_units" type="radio" value="in" /> <h4 class="sm_units_i">Inches</h4>
		            </div>

		        </div><!--END LEFT COLUMN-->

		    	<div id="col_right">

		        	<div id="reference">
		            	<label for="reference">Reference Data From</label>
		                <select name="s_reference">
		                	<option value="CDC 2000" selected="selected">Centers for Disease Control (CDC 2000)</option>
		                    <option value="UN 2010">United Nations Child Growth Standards (UN 2010)</option>
		                    <option value="UN < Age 2, CDC Age 2-18">UN2010 before age 2 years; CDC Age 2-18 (Reccomended)</option>
		                </select>
		            </div><!--END REFERENCE-->

		            <div id="hide">
		            	<label for="hide">Hide</label>
		                <input type="checkbox" name="s_hide_head" /> <h4 class="hide">Head Circumference</h4>
						<input type="checkbox" name="s_hide_arm" /> <h4 class="hide">Arm Circumference</h4>
		            </div><!--END HIDE-->

		            <div id="r_display">
		            	<label for="r_display">Results Display</label>
		                <input type="checkbox" name="s_results_display_std" id="r_display_std" /> <h4 class="hide">Standard Growth Chart</h4>
		                <input type="checkbox" name="s_results_display_z" id="r_display_z" /> <h4 class="hide">Z-Score Growth Chart</h4>
		                <input type="checkbox" name="s_results_display_stat" id="r_display_stat" /> <h4 class="hide">Statistics</h4>
		            </div><!--END RESULTS DISPLAY-->

		            <div id="s_display">
		            	<label for="s_display">Screen Display</label>
		                <input id="s_display_st" name="s_screen_display" type="radio" value="Standard" /> <h4 class="display">Standard</h4>
		                <input id="s_display_sm" name="s_screen_display" type="radio" value="Small" /> <h4 class="display"> Small</h4>
		            </div><!--END SCREEN DISPLAY-->


		        	<div id="settings_buttons">

		            	<!-- <div class="settings_buttons_left"></div>
		                <div class="settings_buttons_mid">
		                	<a id="s_save_btn" href="#">SAVE</a>
		                </div>
		                <div class="settings_buttons_right"></div> -->

		                <div class="settings_buttons_left"></div>
		                <div class="settings_buttons_mid">
		                	<a id="s_defaults_btn" href="#">DEFAULTS</a>
		                </div><!--END DEFAULTS BUTTON MID-->
		                <div class="settings_buttons_right"></div>

		            </div><!--END SETTINGS BUTTONS-->

		        </div><!--END RIGHT COLUMN-->

		    </div><!--END SETTINGS-->
		
		
		
        <br /><br />
		<div class="divider_horz"></div>
	</div><!--END HEADER-->

<!--===================================================================================================-->
<!--=======================================  MAIN MENU =================================================-->

	<div id="main_menu">
		<div class="grad_button">
        	<div class="grad_left"></div>
            <div class="grad_mid">
            	<a class="search_btn" href="#">SEARCH PEOPLE</a>
            </div>
            <div class="grad_right"></div>
        </div>
		
		<div class="grad_button">
        	<div class="grad_left"></div>
            <div class="grad_mid">
            	<a class="new_person_btn" href="#">NEW PERSON</a>
            </div>
            <div class="grad_right"></div>
        </div>

		<div class="clearfix"></div>
	</div>

<!--===================================================================================================-->
<!--=======================================  SEARCH  ==================================================-->

	<div id="search">
    
    	<h1 class="title">Search</h1>
        
        <div class="divider_horz_boxed"></div>
        
        <label for="search">PERSON ID OR LAST NAME:</label>
        <input class="blue" type="text" name="search" id="search_field">
        <input type="submit" name="submit" value="FIND" class="submit" id="search_submit">
        
        <table class="search_results" width="100%" border="1" cellpadding="0" cellspacing="0">
			<tr>
  				<th class="left" width="150px">ID</td>
  				<th width="150px">Last Name</td>
  				<th width="150px">First Name</td>
  				<th>Date of Birth</td>
			</tr>
		</table>
    
    </div><!--END SEARCH-->

<!--===================================================================================================-->
<!--=======================================  PERSON  ==================================================-->

	<div id="person">
    
    	<h1 class="title">Person</h1>
        
        <div class="divider_horz_boxed"></div>
        
        <!--===========================================================================================-->
        <!--=====================================  PERSON INFORMATION =================================-->
        
        <div id="info">
        
        	<h3>PERSONAL INFORMATION</h3>
            
            <div id="row_1">
            
            	<div id="p_id">
            		<label for="p_id">Person ID</label>
            		<input class="blue" type="text" name="p_id" />
        		</div><!--END PERSON ID-->
                
                <div id="p_mf">
                	<h4 class="mf">Male</h4> <input id="p_sex_m" name="p_sex" type="radio" value="M">
                    <h4 class="mf">Female</h4> <input id="p_sex_f" name="p_sex" type="radio" value="F">
                </div>
                
            	<div id="p_fn">
                	<label for="p_fn">First Name</label>
                    <input class="blue" type="text" name="p_fn" />
                </div><!--END PERSON FIRST NAME-->
                
                <div id="p_ln">
                	<label for="p_ln">Last Name</label>
                    <input class="blue" type="text" name="p_ln" />
                </div><!--END PERSON LAST NAME-->
                
                <div id="p_dob">
                	<label for="p_dob">Date Of Birth</label>
                    <input class="blue" type="text" name="p_dob" />
                </div><!--END PERSON DATE OF BIRTH-->
            
            </div><!--END ROW 1-->
            
        </div><!--END PERSON INFO-->

        <!--===========================================================================================-->
        <!--=================================  PERSON MEASUREMENTS ====================================-->

        <div id="measurements">
        
        	<h3>MEASUREMENTS</h3>
        
        	<h3><a href="#" id="new_measurement_btn">New Measurement</a></h3>
            
        	<div class="divider_horz_measurements"></div>
        	
            <!--========================= LEFT COLUMN ========================-->
        	<div id="col_left">
            
            	<div id="row_1">
            
            		<div id="m_date">	
                		<label for="m_date">Date</label>
                    	<a href="#" class="left">&lt;</a>
                        <input class="blue" type="text" name="m_date" id="m_date_field">
                        <a href="#" class="right">&gt;</a>
                	</div><!--END MEASUREMENT DATE-->
            
            	</div><!--END ROW 1-->
                
                <div id="row_2">
                
                	<div id="m_age">
                    	<label for="m_age">Age</label>
                        <input class="orange" type="text" name="m_age_y" id="m_age_y" maxlength="2"><div class="sublabel" id="m_age_label_y">yrs</div>
						<input class="orange" type="text" name="m_age_m" id="m_age_m" maxlength="2"><div class="sublabel" id="m_age_label_m">mns</div>
                    </div><!--END MEASUREMENT AGE-->
                    
                    <div id="m_weight">
                    	<label for="m_weight">Weight</label>
                        <input class="orange" type="text" name="m_weight_a" id="m_weight_a" maxlength="5">
						<div class="sublabel" id="m_weight_label_a">lbs</div>
                        <!-- <input class="orange" type="text" name="m_weight_b" id="m_weight_b" maxlength="5">
                        						<div class="sublabel" id="m_weight_label_b">oz</div> -->
                    </div><!--END MEASUREMENT WEIGHT-->
                    
                    <div id="m_height">
                    	<label for="m_height">Height</label>
                        <input class="orange" type="text" name="m_height" id="m_height_field" maxlength="5">
						<div class="sublabel" id="m_height_label">in</div>
                    </div><!--END MEASUREMENT HEIGHT-->
                
                </div><!--END ROW 2-->
                
                <div id="row_3">
                	
                    <div id="m_notes">
                    	<label for="m_notes">Notes</label>
                        <textarea class="blue" rows="10" cols="40" name="m_notes" id="m_notes"></textarea>
                    </div><!--END MEASUREMENT NOTES-->
                
                </div><!--END ROW 3-->
                
                <div id="row_4">
                
                	<div id="m_head">
                    	<label for="m_head">Head</label>
                        <input class="orange" type="text" name="m_head" id="m_head_field" maxlength="8">
                    </div><!--END MEASUREMENT HEAD-->
                    
                    <div id="m_arm">
                    	<label for="m_arm">Arm (MUAC)</label>
                        <input class="orange" type="text" name="m_arm" id="m_arm_field" maxlength="8">
                    </div><!--END MEASUREMENT ARM-->
                
					<div id="calculate">
						<a href="#" id="calc_btn">Caculate</a>
					</div>
                </div><!--END ROW 4-->
            
           	</div><!--END LEFT COLUMN-->
            
            <div class="divider_vert"></div>
            
            <!--=========================  RIGHT COLUMN  ==========================-->
            <div id="col_right">
            
            	<h3 class="stats">STATS: <em id="stats_title">Source Here</em></h3>
            
            	<div id="row_1">
            		<h4 class="percentile">Percentile</h4>
                    <h4 class="z_score">Z-Score</h4>
                    <h4 class="flag_title">Flag</h4>
            	</div><!--END ROW 1-->
                
                <div id="row_2">
                	<label for="height_age">Height For Age:</label>
                    <input class="orange" type="text" name="height_age_p" id="height_age_percentile">
                    <input class="orange" type="text" name="height_age_z" id="height_age_z_score">
                    <h4 id="h4a_flag" class='n'></h4>
                </div><!--END ROW 2-->
                
                <div id="row_3">
                	<label for="weight_age">Weight For Age:</label>
                    <input class="orange" type="text" name="weight_age_p" id="weight_age_percentile">
                    <input class="orange" type="text" name="weight_age_z" id="weight_age_z_score">
                    <h4 id="w4a_flag" class='n'></h4>
                </div><!--END ROW 3-->
                
                <div id="row_4">
                	<label for="weight_height">Weight For Height:</label>
                    <input class="orange" type="text" name="weight_height_p" id="weight_height_percentile">
                    <input class="orange" type="text" name="weight_height_z" id="weight_height_z_score">
                    <h4 id="w4h_flag" class='n'></h4>
                </div><!--END ROW 4-->
                
                <div id="row_5">
                	<label for="bmi">BMI:</label>
                    <input class="orange" type="text" name="bmi" id="bmi">
                    <input class="orange" type="text" name="bmi_p" id="bmi_percentile">
                    <input class="orange" type="text" name="bmi_z" id="bmi_z_score">
                    <h4 id="b4a_flag" class='n'></h4>
                </div><!--END ROW 5-->
                
                <div id="row_6">
                	<label for="head_cir">Head Circum:</label>
                    <input class="orange" type="text" name="head_cir" id="head_cir_percentile">
                    <input class="orange" type="text" name="head_cir" id="head_cir_z_score">
                </div><!--END ROW 6-->
                
                <div id="row_7">
                	<h4 class="z_age">Z For Age<br /><span>(<em>Reference</em>)</span></h4>
                    <h4 class="z_height">Z For Height<br /><span>(<em>Reference</em>)</span></h4>
                </div><!--END ROW 7-->
                
                <div id="row_8">
                	<label for="muac">MUAC:</label>
                    <input class="orange" type="text" name="muac" id="muac_percentile">
                    <input class="orange" type="text" name="muac" id="muac_z_score">
                </div><!--END ROW 8-->
            
            </div><!--END RIGHT COLUMN-->
        
        </div><!--END MEASUREMENTS-->
    	
        <!--===========================================================================================-->
        <!--=====================================  GROWTH CHART =======================================-->
		
        <div id="growth_chart">
        
        	<h3>GROWTH CHART</h3>
            
            <h3><a href="#">HIDE</a></h3>
            
            <img src="images/bg_blue.jpg" width="914" height="200" alt="growth_chart">
        
        
        </div><!--END GROWTH CHART-->
        
    </div><!--END PERSON-->



</div><!--END CONTAINER-->


<!--===========================================================================================-->
<!--=====================================  JS TEMPLATES =======================================-->

<script type="text/html" id="person-row-template">
	<td class="p_id info_top_left"><%= p_id %></td>
	<td class="p_fn info_top"><%= p_fn %></td>
	<td class="p_ln info_top"><%= p_ln %></td>
	<td class="p_dob info_top"><%= p_dob %></td>
</script>

<script type="text/html" id="person-info-template">
	<h3>PERSONAL INFORMATION</h3>
    
    <div id="row_1">
    
    	<div id="p_id">
    		<label for="p_id">Person ID</label>
    		<input class="blue" type="text" name="p_id" value="<%= p_id %>" id="p_id">
		</div><!--END PERSON ID-->
        
        <div id="p_mf">
        	<h4 class="mf">Male</h4> <input id="p_sex_m" <% if(p_sex != undefined && p_sex == "M") { %> checked="checked" <% } %> name="p_sex" type="radio" value="M">
            <h4 class="mf">Female</h4> <input id="p_sex_f" <% if(p_sex != undefined && p_sex == "F") { %> checked="checked" <% } %> name="p_sex" type="radio" value="F">
        </div>
        
    	<div id="p_fn">
        	<label for="p_fn">First Name</label>
            <input class="blue" type="text" name="p_fn" id="p_fn_field" value="<%= p_fn %>">
        </div><!--END PERSON FIRST NAME-->
        
        <div id="p_ln">
        	<label for="p_ln">Last Name</label>
            <input class="blue" type="text" name="p_ln" id="p_ln_field" value="<%= p_ln %>">
        </div><!--END PERSON LAST NAME-->
        
        <div id="p_dob">
        	<label for="p_dob">Date Of Birth</label>
            <input class="blue" type="text" name="p_dob" id="p_dob_field" value="<%= p_dob %>">
        </div><!--END PERSON DATE OF BIRTH-->
    
    </div><!--END ROW 1-->
</script>

<script type="text/javascript" src="js/lib/jquery-1.5.2.min.js"></script>
<script type="text/javascript" src="js/lib/underscore.js"></script>
<script type="text/javascript" src="js/lib/backbone.js"></script>
<script type="text/javascript" src="js/lib/backbone-localstorage.js"></script>
<script type="text/javascript" src="js/lib/jquery-ui-1.8.12.custom.min.js"></script>
<script type="text/javascript" src="js/lib/i18n/jquery.ui.datepicker-fr.js"></script>
<script type="text/javascript" src="js/lib/i18n/jquery.ui.datepicker-es.js"></script>

<script type="text/javascript" src="js/Setup.js"></script>
<script type="text/javascript" src="js/utilities/WAM.js"></script>
<script type="text/javascript" src="js/models/Settings.js"></script>
<script type="text/javascript" src="js/models/Person.js"></script>
<script type="text/javascript" src="js/models/PersonCollection.js"></script>
<script type="text/javascript" src="js/models/Measurement.js"></script>
<script type="text/javascript" src="js/models/MeasurementCollection.js"></script>
<script type="text/javascript" src="js/views/TableRowView.js"></script>
<script type="text/javascript" src="js/views/MainMenuView.js"></script>
<script type="text/javascript" src="js/views/SearchView.js"></script>
<script type="text/javascript" src="js/views/MeasurementView.js"></script>
<script type="text/javascript" src="js/views/PersonView.js"></script>
<script type="text/javascript" src="js/views/PersonInfoView.js"></script>
<script type="text/javascript" src="js/views/SettingsView.js"></script>
<script type="text/javascript" src="js/views/MainAppView.js"></script>
<script type="text/javascript" src="js/Main.js"></script>

</body>
</html>
